.oups {
    color: black;
    font-size: 80px;
    font-weight: bold;
}

.page-not-found {
    color: black;
    font-size: 12px;
    font-weight: bold;
}

.go-back {
    align-content: center;
    margin-top: 20px;
}

.center-items {
    text-align: center;
}