@use "../../common";

body:has(#menu-wrapper) {
  background-color: #f6f6f6 !important;
}

.afrochic .open-layout::-webkit-scrollbar {
  width: 5px !important;
}
.afrochic .open-layout::-webkit-scrollbar-track {
  background-color: common.$primary-color !important;
  border-radius: 100px !important;
}
.afrochic .open-layout::-webkit-scrollbar-thumb {
  background-color: common.$secondary-color !important;
  border-radius: 100px !important;
}

.afrochic {
  overflow: hidden !important;
  scrollbar-width: none !important;
  font-family: common.$font-rg !important;
  header nav {
    background-color: common.$primary-color;
    height: 40px !important;
    a {
      font-family: common.$font-lt !important;
      font-weight: bold !important;
      &:hover {
        text-decoration: underline;
      }
      &.active, &:hover {
        color: common.$secondary-color;
        text-decoration: underline;
      }
    }
  }
  .open-layout {
    overflow-x: hidden !important;
    overflow-y: auto !important;
    // scrollbar-width: none !important;
    font-family: common.$font-rg !important;
    height: calc(100vh - 41px) !important;
    .error {
      // color: common.$error-color !important;
      font-size: 12px;
    }
  }
}